canvas {
  margin-top: 0px;
  border: 1px solid black;
  position: absolute;
  left: 16.6vw;
  top: 140px;
}

nav {
  background-color: #353745;
}

.sidebar {
  background-color: #f0f0f1;
  min-height: 697px;
  max-height: 697px;
  overflow-y: auto;
}

.sidebar-collapse{
  background-color: #F0F0F1 !important;; 
}

.sidebar-button{
  background-color: #F0F0F1;
  box-shadow: none !important;
}

.list-group{
  background-color: #F0F0F1;
}

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }

.clickToStart {
  margin: 20px;
}